<!--
Create tabs with an icon and label, using the tabs-stable style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-stable">

  <!-- Images Tab -->
  <ion-tab title="Photos" icon-off="ion-images" icon-on="ion-images" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Favorites Tab -->
  <ion-tab title="Favorites" icon-off="ion-ios-star" icon-on="ion-ios-star" href="#/tab/fav">
    <ion-nav-view name="tab-fav"></ion-nav-view>
  </ion-tab>

  <!-- Friends Tab -->
  <ion-tab title="Friends" icon-off="ion-person-stalker" icon-on="ion-person-stalker" href="#/tab/friends">
    <ion-nav-view name="tab-friends"></ion-nav-view>
  </ion-tab>


</ion-tabs>
